In [1]:
import pandas as pd

In [2]:
first_series = pd.Series([1,2,3,4,5], index=['a','b','c','d','e'])

In [3]:
secod_series = pd.Series([10,20,30,40,50], index = ['c','e','f','g','h'])

In [4]:
sum_of_series = first_series+secod_series

In [5]:
sum_of_series

a     NaN
b     NaN
c    13.0
d     NaN
e    25.0
f     NaN
g     NaN
h     NaN
dtype: float64

2. Handling missing values with function

In [6]:
#drop NaN(Not a number) values from dataset
drop_s= sum_of_series.dropna()

In [7]:
drop_s

c    13.0
e    25.0
dtype: float64

In [10]:
#drop NaN(Not a number) values from zeros(0)
fillna_s = sum_of_series.fillna(0)

In [11]:
fillna_s

a     0.0
b     0.0
c    13.0
d     0.0
e    25.0
f     0.0
g     0.0
h     0.0
dtype: float64

In [12]:
#fill values with zeroes before performing addition operations for missing values
fill_NaN_with_zeros_before_sum = first_series.add(secod_series,fill_value=0)

In [13]:
fill_NaN_with_zeros_before_sum

a     1.0
b     2.0
c    13.0
d     4.0
e    25.0
f    30.0
g    40.0
h    50.0
dtype: float64