In [1]:
#import pandas library
import pandas as pd

In [2]:
#import sallite
import sqlite3

In [3]:
#Create SQL table
create_table = """
CREATE TABLE student_score 
(ID INTERGER, Name VARCHAR(20), Math REAL, Science REAL);"""

In [4]:
#execute the sql statement
executeSQL = sqlite3.connect(':memory:')
executeSQL.execute(create_table)
executeSQL.commit()

In [5]:
#Prepare a sql query
sql_query = executeSQL.execute('select * from student_score')

In [6]:
#fatch result from the SQLlite database
resultset = sql_query.fetchall()

In [7]:
#view result (empty data)
resultset

[]

1. Pandas SQL Operation

In [8]:
#Prepare record to be interted into SQL table through SQL Statement
insertSQL = [(10,'Jack',85,92),
                        (29,'Tom',73,89),
                        (65,'Ram',65.5,77),
                        (5,'Steve',55,91)
            ]

In [9]:
#insert records into SQL table through SQL statement
insert_statement = "Insert into student_score values(?,?,?,?)"
executeSQL.executemany(insert_statement,insertSQL)
executeSQL.commit()

In [10]:
#prapare SQL query
SQL_query = executeSQL.execute("select * from student_score")

In [11]:
#fetch the result set from the query
resultset = SQL_query.fetchall()

In [12]:
resultset

[(10, 'Jack', 85.0, 92.0),
 (29, 'Tom', 73.0, 89.0),
 (65, 'Ram', 65.5, 77.0),
 (5, 'Steve', 55.0, 91.0)]

In [14]:
#put the records together in dataframe
df_student_recors = pd.DataFrame(resultset,columns=zip(*SQL_query.description)[0])

NameError: name 'Zip' is not defined

In [15]:
#view the records in pandas dataframe
df_student_recors

NameError: name 'df_student_recors' is not defined