1. Create Series from list

In [1]:
#import libraries
import numpy as np
import pandas as pd

In [2]:
#pass list as an arguments
first_series = pd.Series(list('abcdef'))

In [3]:
print(first_series)

0    a
1    b
2    c
3    d
4    e
5    f
dtype: object

2. Create Series from ndarray

In [4]:
np_country = (['Luxembourg','Norway','japan','US','UK'])

In [5]:
s_countery = pd.Series(np_country)

In [6]:
print(s_countery)

0    Luxembourg
1        Norway
2         japan
3            US
4            UK
dtype: object

3. Create Series from dict

In [7]:
#Evalvate counteries and their corresponding gdp per capita and print them as series
dict_country_gdp = pd.Series([52056.01781,40258.80062,40034.85063,39578.07441,39170.41371], index=['Luxembourg','Norway','japan','US','UK'])

In [8]:
print (dict_country_gdp)

Luxembourg    52056.01781
Norway        40258.80062
japan         40034.85063
US            39578.07441
UK            39170.41371
dtype: float64

4. Create Series from Scalar

In [9]:
#Print series with scalar input
scalar_series = pd.Series(5.,index=['a','b','c','d','e'])

In [10]:
scalar_series

a    5.0
b    5.0
c    5.0
d    5.0
e    5.0
dtype: float64

5. Accessing element in series

In [12]:
#access elements in the series
dict_country_gdp[0]

52056.01781

In [13]:
#access first 5 countries from the series
dict_country_gdp[0:5]

Luxembourg    52056.01781
Norway        40258.80062
japan         40034.85063
US            39578.07441
UK            39170.41371
dtype: float64

In [14]:
#Look up a country by name or index
dict_country_gdp.loc['US']

39578.07441

In [15]:
#Look up by position
dict_country_gdp.iloc[0]

52056.01781

6. Vectorized operations in series

In [17]:
#Add the series
first_vector_series = pd.Series([1,2,3,4], index=['a','b','c','d'])
second_vector_series = pd.Series([10,20,30,40], index=['a','b','c','d'])

In [18]:
first_vector_series+second_vector_series

a    11
b    22
c    33
d    44
dtype: int64

In [24]:
second_vector_series = pd.Series([10,20,30,40], index=['a','d','b','c'])

In [25]:
first_vector_series+second_vector_series

a    11
b    32
c    43
d    24
dtype: int64

7. Vectorized operations in series(contd.)

In [26]:
#now replace few indexes with new ones in second vector series
second_vector_series = pd.Series([10,20,30,40], index=['a','b','e','f'])

In [27]:
first_vector_series+second_vector_series

a    11.0
b    22.0
c     NaN
d     NaN
e     NaN
f     NaN
dtype: float64