In [1]:
#import required libraries
import numpy as np
import pandas as pd

In [2]:
#import the boston dataset
from sklearn.datasets import load_boston
boston_dataset = load_boston()

In [3]:
#create a pandas dataframe and store the data
df_boston = pd.DataFrame(boston_dataset.data)
df_boston.columns=boston_dataset.feature_names

In [4]:
#append price, target, as a new column to the dataset
df_boston['Price'] = boston_dataset.target

In [5]:
#print top 5 obervation
df_boston.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,Price
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

In [6]:
#assign features on x axis
x_features = boston_dataset.data

In [17]:
#assign target on y axis
y_target = boston_dataset.target

In [18]:
#import linear model - the estimator
from sklearn.linear_model import LinearRegression
lineReg = LinearRegression()

In [19]:
#fit data into the estimator
lineReg.fit(x_features,y_target)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [20]:
#print the intercept
print ('the estimated intercept %.2f ' %lineReg.intercept_)

the estimated intercept 36.46

In [23]:
#print the cofficient
print('the coefficient is %d' %len(lineReg.coef_))

the coefficient is 13

In [34]:
#train model split the whole dataset into train and test datasets
#from sklearn import cross_validation
from sklearn import model_selection
from sklearn.model_selection import train_test_split
x_tarin, x_test, y_train, y_test = model_selection.train_test_split(x_features,y_target)

In [35]:
#print the dataset shape
print(boston_dataset.data.shape)

(506, 13)

In [36]:
#print shape of the training and testing data sets
print(x_tarin.shape,x_test.shape,y_train.shape,y_test.shape)

(379, 13) (127, 13) (379,) (127,)

In [37]:
#fit the training sets into model
lineReg.fit(x_tarin,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [41]:
#the mean square error (MSE) or residual sum of squares
print('MSE value is %.2f' % np.mean((lineReg.predict(x_test)-y_test)** 2))

MSE value is 17.97

In [42]:
#calculate variance
print ('variance score is %.2f' %lineReg.score(x_test,y_test))

variance score is 0.79